DOMAIN=microfrontend-platform-lab.duckdns.org

IMAGE_TAG=latest

SHELL_IMAGE=ghcr.io/ecconomix/microfrontend-platform-lab-shell
DASHBOARD_IMAGE=ghcr.io/ecconomix/microfrontend-platform-lab-dashboard
SETTINGS_IMAGE=ghcr.io/ecconomix/microfrontend-platform-lab-settings
